<!DOCTYPE html>
<html ng-app="catchApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <title>咸鱼抓取</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <style>
        .container {
            margin-top: 20px;
        }

        .btn-success {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
    <script src="bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module('catchApp', []);
        app.controller('catchCtrl', function ($scope, $http) {
            $scope.catchDatas = [];
            $scope.search = function () {
                document.getElementById('btnSearch').disabled = true;
                $http({
                    method: 'GET',
                    url: './xysearch/' + $scope.keyWord
                }).then(function (resp) {
                    console.log(resp);
                    document.getElementById('btnSearch').disabled = false;
                    $scope.catchDatas = resp.data;
                });
                return false;
            };
        });
    </script>
</head>
<body>
<div class="container" ng-controller="catchCtrl">
    <input type="text" class="form-control" id="" name="" placeholder="关键词" value="" ng-model="keyWord"/>
    <button type="button" class="btn btn-success btn-block btn-lg" id="btnSearch" ng-click="search()">提交</button>
    <div class="panel panel-default">
        <div class="panel-heading">抓取结果</div>
        <table class="table">
            <tr ng-repeat="item in catchDatas">
                <td>￥{{item.price}}</td>
                <td><img src="" alt="" ng-src="{{item.imgUrl}}"/></td>
                <td><a href="{{item.href}}">{{item.title}}</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>